.profile{
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d4aa00;
background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  
}

.profile-pic{
  padding-top: 50%;
}