nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100vw;
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 0 1.5em;
    position: fixed;
    z-index: 100;
}

h2, span{
  font-family: 'Bungee', sans-serif;
}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav-link > i{
  color: red;
}

@media screen and (max-width: 809px) and (min-width: 1px) {
  nav{
    background-color: transparent;
  }

  
 
}